<h1>Quizzes#show</h1>

<div class="row">
    <div class="span2"></div>
    <div class="span5">
        </br>
        <h1> <%= @quiz.name %> - question <%=@q_num+1%></h1>
        <div class="progress progress-striped">
          <div class="bar" style="width: <%=@q_num%>0%;"> </div>
        </div>
        <h2> score: <%=session[:score]%></h2>
        
    </div>
</div> 

<div class="row">
    <div class"span2"></div>
    <div class="span5" onselect="0;">
        <div id="player">
            <!-- The video iframe will be displayed here -->
        </div>  
    </div>
</div>

<div class="row">
    <div class="span2"></div>
    <div class="span5">
        </br>
        <h2>What is being pronounced? </h2> 
        </br>
        </br>
    </div>
</div>
<div class="row">
    <div class="span2">
        
    </div>
    <div class="span6">  
      <span>
        <div id="choices" class="btn-group">
          <button id="button-one"   class="btn-large btn-primary btn" onclick="grade(this)"><%=@questions[0].answer%></button>
          <button id="button-two"   class="btn-large btn-primary btn" onclick="grade(this)"><%=@questions[1].answer%></button>
          <button id="button-three" class="btn-large btn-primary btn" onclick="grade(this)"><%=@questions[2].answer%></button>
          <button id="button-four"  class="btn-large btn-primary btn" onclick="grade(this)"><%=@questions[3].answer%></button>
        </div>
        <%= form_tag(request.original_fullpath, :method => "post") do %>

          <input type="hidden" name="q_num" value="<%=@q_num+1%>" />
          <input id="is-correct" type="hidden" name="result" value="correct" />
          <%= submit_tag("next", :id=>"next-button", :style=>"float: right; display:none;", :class => "btn btn-success btn-large") %>
        <%end%>
      </span>
    </div>
</div>

<div class="row">
    <div class="span2"></div>  
    <div id="answer" class="span5" style="display:none;"><h3>Answer is <span id="answer-color"><%=@question.answer%></span></h3></div>
</div>   

<!-- Javascript for this page -->
<script>
    $('#button_one').popover();
    
    $("#button_one").click(function() {
                           $("#button_one").popover('show');
                           });
    
    </script>

<!-- Javascript to mute the Video -->   
<script>      
    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');
    tag.src = "http://www.youtube.com/player_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    
    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var player;
    function onYouTubePlayerAPIReady() {
        player = new YT.Player('player', {
                               playerVars: { 'autoplay': 1,'showinfo':0, 'auto_hide':1, 'controls': 0, 'rel':0, 'modestbranding':1, 'wmode':'opaque' },
                               // change this to the id of the video you want to play
                               videoId: '<%=@question.youtube_id%>',
                               events: {
                                 'onReady': onPlayerReady,
                                 'onStateChange': play
                               }
                               });
    }
    function play() {
      if (player) {
        player.playVideo();
      }
    }

    
    // 4. The API will call this function when the video player is ready.
    function onPlayerReady(event) {
        event.target.mute();
    }

    answered = false;
    function grade(item)
    {
      if (answered) return;
      answered = true;
      item.className += " active";
      player.unMute();
      document.getElementById("answer").style.display="block";
      document.getElementById("next-button").style.display="block";

      a = item.innerHTML;
      b = "<%=@question.answer%>";
      if (a == b)
      {
        document.getElementById("answer-color").style.color="green";
        document.getElementById("is-correct").value = "correct";
      }
      else
      {
        document.getElementById("answer-color").style.color="red";
        document.getElementById("is-correct").value = "incorrect";
      }
    }
    
    </script>





